// @use 'fonts';

$primary-color: #333333;
$left-color: #00A1F1;
$middle-color:#0099CC;
$right-color:#0078D4;
$light-blue:#66CCFF;
$icon-color: #FFAE42;
$body-text-color: #FFFFFF;
$heading-font-family: 'Comfortaa', sans-serif;;
$body-font-family: 'Comfortaa',arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

