// @use 'fonts';

// $primary-color: #bf787e;
$primary-color: #52688f;
$btn-color: #bf787e;
// $btn-color: #EDDFAD;

// $light-blue:#66CCFF;
// $light-blue:#9ab073;
$btn-hover:#e1bcc3;

    

$body-text-color: #6e6e6e;

$heading-font-family: 'Comfortaa', sans-serif;;
$body-font-family: 'Comfortaa',arial, sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;

