/* 
    CSS Guide 

    1.  General Styles
    2.  Header
    3.  Main Hero Image
    4.  Promise
    5.  About us
    6.  Welcome
    7.  Footer
    8.  Tablet Queries
    9.  Desktop Queries 
 */


 /* 1. ---General Styles--- */
 
body {
   font-family: 'Mukta Mahee', sans-serif;}

li {
   list-style: none;
}

a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}


/* 2. ---Header--- */

#sticky-nav-con {
   background-color: #BAE0DD;
}

#logo{
   /* height: 3.75rem; */
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
}

#main-nav button {
   width: 3.125rem;
   height: 2.1875rem;
   background: url(../images/hamburger.svg) no-repeat center;
   margin-top: 2.1875rem;
   margin-bottom: 1.5625rem;
   transition: all .5s ease;
   border: 0;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#burger-con {
   margin-top: 2.5rem;
   margin-bottom: 1.25rem;
   display:none;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin-left: -9.375rem;
}

#main-nav ul li a {
   display: block;
   padding: 0.625rem;
   width: 6.25rem;
   text-align: center;
   color:#fff;
}

/* #main-nav ul li:first-child {
   color:#C8B0D0;
}  */

#main-nav ul li a:hover {
   color:#C8B0D0;
}

#account-icon {
   display: none;
}


/* 3. ---Main Hero Image--- */

#hero img{
   grid-column: 1/-1;
   justify-self: center;
}

/* 4. ---Promise--- */

#promise-con {
    background-color: #C8AFD0;
    color: #fff;
}

#promise-con h2 {
    font-size: 1.375rem;
    color: #B7C88B;
    margin-top: 1.25rem;
}

#promise-con p {
    font-size: 0.75rem;
    line-height: 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;

}

/* 5.---About us--- */

#about-us {
    background-color: #EEC9B7;
    color: #fff;
}


@media screen and (max-width: 320px) {

   #about-us #trees {
      display: none;
   }

   #about-us .mobile-tree{
      display: block;
      height: 7.5rem;
      width: 20rem;
      margin-top: 1.25rem;
      grid-column: 1/-1;
      background: url(../images/about/trees_mobile.png) no-repeat;
   }

   
}



@media screen and (min-width :321px){
   #about-us .mobile-tree {
      display: none;
   }

   #about-us #trees {
      margin-top: 1.875rem;
      display: flex;

   } 

    #about-us #trees img {
      padding-left: 5px;
      height: 100px;

    }
}



#about-us p{
    font-size: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


   /* .image-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 10px;

   } */
   /* .image-grid img {
   display: inline-block;
   /* width: 16.66%; */
   /* max-width: 100%;
   height: auto;
   } */ 
/* 
   


} 


/* 




/* 6. ---Welcome---  */

#welcome {
   background-color: #B7C88B;
   color: #fff;
}

#welcome-img {
   margin-top: 30px;
   margin-bottom: -20px;
   display: flex;
   justify-content: space-around;
   /* flex-direction: row; */
   /* flex-wrap: nowrap; */
}

#welcome-img img{
   width: 45%;
   height: 80%;
}



#welcome-text p {
    font-size: 0.75rem;
    /* margin-top: 1.25rem;
    margin-bottom: 1.25rem; */
    margin:  1.25rem  auto 1.25rem auto;
}

/* 7. ---Footer--- */

#footer {
   background-color: #BAE0DD;
   color: #fff;
}

#footer #footer-logo{
   margin-top: 1.875rem;
   margin-bottom: 1.875rem;
}

#footer #email-con {
   height: 1.875rem;
}

#footer #email-con input {
   width: 16.25rem;
   height: 100%;
   margin-top: 0.9375rem;
   border-radius: 1.25rem;
   float: left;


}

#footer #footer-btn {
   border-radius: 1.25rem;
   height: 100%;
   background-color: #C8B0D0;
   border: 0.125rem solid #B7C88B;
   color: #fff;
   margin-top: 0.9375rem;
   margin-left: -3.75rem;

}

#footer #footer-btn:hover {
   background-color: #B7C88B;
   border: 0.125rem solid #C8B0D0;

}

#footer #footer-nav {
   margin-top: 1.25rem;

}

#footer #footer-nav li {
   padding-top: 0.9375rem;
}

#footer #footer-nav ul li a {
   color: #fff;

}

#footer #footer-nav ul li a:hover {
   color: #C8B0D0;
}

#footer #social-con ul{
   display: flex;
   justify-content: space-evenly;
   margin-left: -1.875rem;
}

#social-con ul li img{
   width: 2.1875rem;
   height: 2.1875rem;

}

#footer #copyright {
   color: #fff;
   margin-bottom: 2.5rem;
}

/* 8. ---Tablet Queries--- */

@media screen and (min-width : 768px){

   #button {
      display: none;
   }

   #burger-con {
      display: block;
   }


   #account-icon {
      display: block;
      margin-top: 2.1875rem;
   }

   #main-nav ul {
      display: flex;
      justify-content: space-around;
   }

   #promise-con h2 {
      font-size: 1.5625rem;

    }

    #promise-con p {
      font-size: 0.875rem;
    }

#about-us #trees {
      margin-top: 1.875rem;
      display: flex;
      justify-content: center;

   } 

    #about-us #trees img {
      padding-left: 5px;
      width: 13%;
      height: 100px;

    }

    #about-us p{
    font-size: 0.875rem;
    }

    #welcome-text p {
      font-size: 0.875rem;
    }



   #footer #copyright {
      margin-top: -3.125rem;
   }

}
   

/* 9. ---Desktop Queries--- */

@media screen and (min-width : 1200px){

   #promise-con h2 {
        font-size: 1.875rem;

    }

    #promise-con p {
        font-size: 1rem;

    }

    #about-us p{
        font-size: 1rem;
    }


    #welcome-text p {
        font-size: 1rem;
    }

   #footer #email-con {
        height: 2.8125rem;
   }

   #footer #email-con input {
        width: 21.875rem;
   }


}