@use '../abstracts' as a;

#main-footer {

display: flex;
justify-content: space-between;
margin-top: 150px;
margin-bottom: 10px;
}

    #main-footer p{
      font-size: 10px;
      margin-left: 10px;
        
    }

  #index-page{
      position: relative;
    footer{
      position: absolute;
      top: 150%;
    }
  }

@media screen and (min-width: 728px) {
  #index-page{
    footer{

  top: 180%;
    }
  }
 

}


