@use '../abstracts' as a;

.video-player {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: auto;

  position: relative;

  #myVideo{
  width: 90%; 
  }
}



.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center; 
    display: none;


.video-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: a.$btn-color;
    margin: 0 5px; 
    border: none;


    &:hover{
        background-color: a.$btn-hover;

    }

  


}
}



@media screen and (min-width: 768px){


  #myVideo{
  max-width: 60%; 
  }

.video-btn{
    width: 120px;
    height: 120px;

    
  margin: 0px 15px;

}
}


@media screen and (min-width: 1920px){
  .video-btn{
    width: 350px;
    height:350px;

    
  margin: 0px 20px;

}
}


