@use '../abstracts' as a;


#self-intro{


        #resume{
        color: a.$btn-hover;
        }

    #tools-images{
        
        display: flex;
        justify-content: space-around;
        margin:50px;
    }

   

    div{
        padding: 20px 40px;
        border-radius: 2%;

           p{
        line-height: 35px;
        font-size: 12px;
        margin: 20px 0px;


    }
  h3{
    margin-bottom: 50px;
  }

        .icon{
            width: 30px;
            height:30px;

        }

    }



    

}

#work{
        border: 2px solid a.$btn-hover;
        border-radius: 15px;
}

@media screen and (min-width: 768px){
   
#self-intro{
        margin:50px;
        padding: 50px;

    div{

           p{
        font-size: 15px;


    }
}

 }
}

