@use '../abstracts' as a;



#project-case{
margin-top: 100px;
margin-bottom: 50px;
img{
    max-width: 100%;

}


h2{
    color:a.$left-color;
    line-height: 50px;
}
    #case-study{

        margin-top: 50px;
        h3{
        font-size: 16px;
        margin-top:20px;
        color: a.$left-color;
        }
        p{
            font-size: 13px;
            line-height: 30px;
        }
        img{
            max-width: 100%;
        }
    }
}