@use '../abstracts' as a;

.case-page{
    background-color: a.$primary-color;
} 

.left-icon{
width: 100px;
height: 100px;

}
.material-symbols-outlined {

color: a.$btn-hover;
}


video{
    max-width: 80%;
}

#project-case{
margin-top: 100px;
margin-bottom: 50px;
img{
    max-width: 100%;
    height: 100%;

}


h3{
    color:a.$btn-hover;
    line-height: 50px;
}
    #case-study{

        margin-top: 50px;
        h3{
        font-size: 16px;
        margin-top:20px;
        color: a.$btn-hover;
        }
        p{
            font-size: 13px;
            line-height: 30px;
        }
        img{
            max-width: 60%;
        }
    }
}




