@use '../abstracts' as a;

#intro {
    // background: url('/images/bg.jpeg') no-repeat center center fixed;
    margin:50px 20px;
    position: relative;

    p{
        line-height: 50px;
        font-size: 15px;
        margin-left: 30px;
    }

    .pink{
        color:a.$btn-hover;
    }

    .underline {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-position: under;
        text-decoration-color: a.$btn-hover;
        padding-bottom: 5px; 
        margin-bottom: 5px;
   
    }

}
    .self-image-hat{
        position: fixed;
        max-width: 200px;

        z-index:-333;
        bottom:0px;
        right:5px;
            img{
                width: 100%;
                height: auto;
            }

    }

@media screen and (min-width: 768px) {

 
    #intro p{
        line-height: 55px;
        font-size: 22px;
        margin-left: 35px;
    }

    .self-image-hat{
        position: fixed;
        max-width: 299px;

        z-index:-333;
        bottom:10px;
        right:15px;
        img{
            width: 100%;
            height: auto;
        }


}
}

@media screen and (min-width: 1200px) {
    .self-image-hat{
        position: fixed;
        max-width: 399px;

        z-index:-333;
        bottom:15px;
        right:25px;
            img{
                width: 100%;
                height: auto;
            }

    }
}

@media screen and (min-width: 1920px) {

    #index-main-nav {
        a{
        width: 150px;
        height: 100px;
        line-height: 3;
        font-size: 20px;
    }
}


}
